<h3>Artists 'playing the field' this festival season:</h3>

<ol>
	<% @tops.each do |artist, count| %>
		<li><% artist = Artist.find_by(:name => artist) %><%= artist.name %>: playing <%= link_to "#{count} festivals", artist %></li>
	<% end %>
</ol>

<%= render 'artists' %>