<h3>My Artists</h3>

<% if current_user.artists.length == 0 %>
	<p>You aren't following any artists yet! Click the "add to my artists" button on any artist page to add them to your list.</p>
<% else %>
	<table style="width:100%">
	  <tr>
	  	<th></th>
	  	<th>I'll see them at:</th>
	  	<th>Playing at festivals I'm watching:</th>
	  </tr>
		<% current_user.artists.each do |artist| %>
	  <tr>
			<td><%= link_to artist.name, artist %></td>
			<td>
				<% fests = current_user.going_to_festivals.select {|festival| festival.artists.include? artist } %>
				<% fests.each do |fest| %>
					<li><%= link_to fest.name, fest %></li>
				<% end %>
			</td>
			<td>
				<% fests = current_user.watching_festivals.select {|festival| festival.artists.include? artist } %>
				<% fests.each do |fest| %>
					<li><%= link_to fest.name, fest %></li>
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>
<% end %>