<h1>Welcome to GetYourFestOn!</h1>

<h2>It's almost festival season. Have you decided which you'll be attending?</h2>

<div class="index-group"><%= render 'compare' %></div>

<h3>Or, see where your favorite artists are playing:</h3>
<%= render 'artists/artists' %>