<span id="arrow" class="glyphicon glyphicon-chevron-up <%= sort_column == column && sort_direction == "asc" ? "active" : "inactive" %>"></span>
<span id="arrow" class="glyphicon glyphicon-chevron-down <%= sort_column == column && sort_direction == "desc" ? "active" : "inactive"%>"></span>