// Place all the styles related to the festivals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.letter {
	display: inline-block;
	padding: 5px;
}

td {
	vertical-align: top;
}

ul#first-letters {
	-webkit-padding-start: 0px;
}

li.my-artist:before {
	content: '\2713';
	margin: 0 .5em; 
}

li.my-artist {
	list-style: none;
}

li.artist-list {
	list-style: none;
	margin: 0 24px;
}

img.center {
	display: block;
	margin: auto;
}

.center {
	text-align: center;
}

th .current {
	
}

th .asc {
	/*background-image: url(/images/up_arrow.gif) arrow-up;*/
}

th .desc {

}

span#arrow {
	font-size: 10px;
	color: #dd4814;
}

span#arrow.inactive {
	display: none;
}

.right {
	float: right;
}

.text-right {
	text-align: right;
}

.pink {
	color: #dd4814;
}


body {
	background: url("leo_balloons_2.jpg") no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	z-index: -50;
}

.container {
	background-color: rgba(255, 255, 255, .95);
	padding: 30px;
	border-radius: 1%;
}

.index-group {
	margin-top: 75px;
	margin-bottom: 75px;
}