<h1>About This Site</h1>

<h4>GetYourFestOn is a project by <%= link_to "Rebecca Shapiro", "http://people.flatironschool.com/profiles/rebecca-shapiro", :target => "_blank" %>, web developer and student at <%= link_to "The Flatiron School", "http://flatironschool.com/" , :target => "_blank" %>.</h4>
<h4>If you'd like to get in touch, please email me at rshapiro3@gmail.com :)</h4>